OLLAMA_MODEL=hodza/cotype-nano-1.5-unofficial

APP_PORT=6767

OLLAMA_TEMPERATURE=0
OLLAMA_TOP_K=40
OLLAMA_TOP_P=0.9
OLLAMA_REPEAT_PENALTY=1.15
OLLAMA_NUM_PREDICT=4096

OLLAMA_MODEL_BATCH_SIZE=1
OLLAMA_MIN_GENERATION_ATTEMPTS=5
OLLAMA_MAX_RETRIES_MULTIPLIER=5
OLLAMA_REQUEST_TIMEOUT_MS=240000
OLLAMA_USE_RANDOM_SEED=true
OLLAMA_SEED=0
